@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
	width: auto;
	height: auto;
	margin: 0.5rem 0;
}

@media print {
	body {
		width: auto;
		height: auto;
		margin: 0.5rem 0;
	}
}